{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="container-fluid" id="post-banner" style="background-color:dimgrey;">
    <h2 style="font-weight: 900; font-size: 30px; color: white;" class="text-center">All Blogs</h2>
    <p class="text-center" style="font-size: 20px;"><small>Add your Blog here..</small></p>

    <div class="container pt-2">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 pt-3">
                {{ wtf.quick_form(blog_form)}}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

{% endblock %}









