{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
{% endblock %}

{% block content%}

<div class="container-fluid" style="background-color: dimgray;">
        <h2 style="color: brown;text-align: center; padding-top: 30px;font-weight: 900; padding-bottom: 30px;">WELCOME TO OWN BLOG</h2>                 
        <hr>
        {% if current_user.is_anonymous%}

        {%endif%}
        </ul>
    <div class="container-fluid" style="padding-top:120px ; padding-left: 50px;">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 style="color: white; text-align: center;">Quote of the day...</h2>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0">{{quotes.quote}}</p>
                            <footer style="color: black;" class="blockquote-footer"><cite>{{quotes.author}}</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-lg- col-md-3 mx- tex-center">
                {% for blog in blogs %}
                <div class="post-preview text-center">
                    <a href="{{ url_for('main.blog', blog_id=blog.id)}}">
                        <h2 class="blog-title">
                            {{blog.title}}
                        </h2>
                        <h3 class="blog-description">
                            {{blog.description}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by {{blog.user.username}} on {{blog.date.strftime('%B %d, %Y')}}</p>
                </div>

                {% endfor %}

            </div>
            <div class="col-md-3">
                <h2 style="color: white; font-size: 20px;">Please subscribe to my page!!</h2>
                <div class="w-50">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    <form action="{{url_for('main.subscribe')}}" method="POST">
                        <div class="form-group">
                            <input type="email" form-control name="email" style="border-radius:10px;"
                                placeholder="Enter email..." required>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="subscribe" form-control class="bg-danger text-light"
                                style="border-radius:10px;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="div" style="padding-top:10px ;">
            <p
                style="font-size: 20px; color: black; text-align: center;font-family: 'Bangers', cursive; font-style: italic;">
                Designed by Mtafix Studios, <br>copyright
                Ruiru,Erastus
            </p>
        </div>
    </div>
    </div>
    {% endblock %}